@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #161513;
}

.slow-scroll {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

html {
  scroll-behavior: smooth;
}

html.slow-scroll {
  scroll-behavior: smooth;
}

.slow-scroll {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-margin-top: 50px;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
  height: 100%;
  width: auto;
  
}